<!DOCTYPE html>
<html>
    <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>        
    </head>
    <body>
    <div class="row">
        <div class="col-sm-4">
          <center><h2>Excited  to Engage <br>
          
            with our Team?</h2> </center>
        </div>
        <div class="col-sm-8">
            <h1> Fill up the blanks for us, and we will get back to you!</h1> 
            <center><p> Hi,My Name Is {{ form }}......... Events , My name is ........ And Iam Organizing a ....... on.....for ........Guests with a total Budbet of ........We are looking for a venue in or around ......The event planners at ....... can contact me by Email on .......and by phone on........... </p></center>
            <center><button type="button" class="btn btn-warning"> REQUEST A CALL BACK</button>
            <a href="" style="color:orange";> PERSONALISE YOUR PACKAGE </a> </center>
        </div>
</div>
    </body>
</html>