<!doctype html>
<head>
   <!-- Including the bootstrap CDN -->
   <link rel="stylesheet" href=
   "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
       <script src=
   "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
       </script>
       <script src=
   "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
       </script>
       <script src=
   "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
       </script>
    <style>
        .event-nav {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999;
      /* max-width:100%; */
      background: none;
      border: 0;
      border-radius: 0;
      background-color: 0;
      

    }
    .navbar-nav {
      margin-left: auto;
    }
    </style>
</head>
<body>
<nav class="event-nav navbar navbar-expand-lg navbar-light">
    <div class="container">
    <a class="navbar-brand" href="#">Symphony</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
              Events
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
              Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
              SignUp
            </a>
        </li>
    </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
   </div>
  </nav>
</body>
</html>